@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }   
}

@media screen and (max-width: 480px) {
  body {
    background-color: peachpuff;
  }
}

@media (min-width: 768px) {
  .display-1 {
    font-size: 5rem;
  }
}

.body {
  background-color: rgb(205, 234, 243);
  margin: 2%;
}

#img {
  float: right;
}

.aboutColumns{
  columns:3;
}

.aboutMe{
  width: 65%;
  box-sizing: border-box;
  padding: 5px;
  border: solid black;
  background-color: rgb(155, 155, 155);
}

.animals{
  width:33%;
  box-sizing: border-box;
  padding: 5px;
  border: solid black;
  background-color: rgb(155, 155, 155);
}

.music{
  width:33%;
  box-sizing: border-box;
  padding: 5px;
  border: solid black;
  background-color: rgb(155, 155, 155);
}

.hobbies{
  width:33%;
  box-sizing: border-box;
  padding: 5px;
  border: solid black;
  background-color: rgb(155, 155, 155);
}

.codeColumns{
  columns: 2;
}

.code{
  width:47%;
  box-sizing: border-box;
  padding: 5px;
  border: solid black;
  background-color: rgb(155, 155, 155);
}

.apps {
  width:47%;
  box-sizing: border-box;
  padding: 5px;
  border: solid black;
  background-color: rgb(155, 155, 155);
}

.webPages{
  width:90%;
  box-sizing: border-box;
  padding: 5px;
  border: solid black;
  background-color: rgb(155, 155, 155);
}


.highlight{
  color: blue;
}
