@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }   
}

@media screen and (max-width: 480px) {
  body {
    background-color: peachpuff;
  }
}

.body {
  background-color: linear-gradient(to bottom right, lightgrey, #2c3e50);
}

.column {
  width: 42%;
  float: left;
}

#img {
  float: right;
}